//
   Created by Jorge on 1/31/2015.
div#left-content(data-ng-controller="leftMenuCtrl")
   div.bckground-left
      div.profile-img(mm-hexagon-image, url-image="'/public/content/images/me.PNG'")
      div.title
         h2 Jorge Guerola Martínez
         h3 Software Developer
      div.menu-left
         ul.main-menu
            li#option1.sliding-middle-out.about(ng-class="{ 'resume-clicked': optionSelected == 'about' }")
               a.clickable(data-ng-click="about()")
                  div.image-section
                     div
                        img(data-ng-src="/public/content/images/administrator.svg")
                        img.special-img-menu(data-ng-src="/public/content/images/administrator2.svg", data-ng-show="optionSelected == 'about'")
                  div.menu-section
                     p {{'ABOUT_ME'|translate}}
            li#option2.sliding-middle-out.resume(ng-class="{ 'resume-clicked': optionSelected == 'resume' }")
               a.clickable(data-ng-click="resume()")
                  div.image-section
                     div
                        img.graduation-img(data-ng-src="/public/content/images/graduation.svg")
                        img.graduation-img.special-img-menu(data-ng-src="/public/content/images/graduation2.svg", data-ng-show="optionSelected == 'resume'")
                  div.menu-section
                     p {{'RESUME'|translate}}
            li#option3.sliding-middle-out.experience(ng-class="{ 'resume-clicked': optionSelected == 'experience' }")
               a.clickable(data-ng-click="experience()")
                  div.image-section
                     div
                        img.experience-img(data-ng-src="/public/content/images/briefcase.svg")
                        img.experience-img.special-img-menu(data-ng-src="/public/content/images/briefcase2.svg", data-ng-show="optionSelected == 'experience'")
                  div.menu-section
                     p {{'EXPERIENCE'|translate}}
            li#option4.sliding-middle-out.skills(ng-class="{ 'resume-clicked': optionSelected == 'skills' }")
               a.clickable(data-ng-click="skills()")
                  div.image-section
                     div
                        img(data-ng-src="/public/content/images/skills.svg")
                        img.special-img-menu(data-ng-src="/public/content/images/skills2.svg", data-ng-show="optionSelected == 'skills'")
                  div.menu-section
                     p {{'SKILLS'|translate}}
            li#option5.sliding-middle-out.contact(ng-class="{ 'resume-clicked': optionSelected == 'contact' }")
               a.clickable(data-ng-click="contact()")
                  div.image-section
                     div
                        img(data-ng-src="/public/content/images/contactme.svg")
                        img.special-img-menu(data-ng-src="/public/content/images/contactme2.svg", data-ng-show="optionSelected == 'contact'")
                  div.menu-section
                     p {{'CONTACT'|translate}}
            li(ng-class="{ 'resume-clicked': optionSelected == 'contact'}")
               a(data-ng-model="configActive")
                  div.config-section
                     img#img-config-lang.clickable(ng-class="{ 'animation-target': configActive}", data-ng-src="/public/content/images/config.svg",data-ng-click="configActive=!configActive")
               div(data-ng-show="configActive")
                     div.arrow-up
                     ul.config-lang
                        li.clickable(data-ng-click="langEN()")
                           p {{'EN'|translate}}
                        li.clickable(data-ng-click="langES()", ng-class="{ 'arrow-lang': !currentLang }")
                           p {{'ES'|translate}}