//
   Created by Jorge on 1/31/2015.
div#left-content(data-ng-controller="leftMenuCtrl")
   div.profile-img(mm-hexagon-image, url-image="'/public/content/images/me.PNG'")
   div.title
      h2 Jorge Guerola Martínez
      h3 Software Developer
   div.menu-left
      ul
         li
            a.clickable(data-ng-click="about()")
               div.image-section
                  p image
               div.menu-section
                  p {{'ABOUT_ME'|translate}}
         li
            a.clickable(data-ng-click="resume()")
               div.image-section
                  p image
               div.menu-section
                  p {{'RESUME'|translate}}
         li
            a.clickable(data-ng-click="experience()")
               div.image-section
                  p image
               div.menu-section
                  p {{'EXPERIENCE'|translate}}
         li
            a.clickable(data-ng-click="contact()")
               div.image-section
                  p image
               div.menu-section
                  p {{'CONTACT'|translate}}
