//
   Created by Jorge on 1/31/2015.

//div(data-ng-include="'/public/app/features/commons/header/header.html'")
//div.container#content(data-ui-view="")
//div(data-ng-include="'/public/app/features/commons/footer/footer.html'")

//div(data-ng-include="'/public/app/features/commons/header/header.html'")
perfect-scrollbar#main-scroll(class="scroller", wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20")
   div.container
      div.row
            div.menu-left-container
               perfect-scrollbar(class="scroller", wheel-propagation="true" wheel-speed="1" min-scrollbar-length="20")
                  div(data-ng-include="'/public/app/features/commons/left/leftMenu.html'")
            div.col-xs-offset-4.col-xs-8
               div(data-ng-include="'/public/app/features/commons/right/rightMenu.html'")
            //div(data-ng-include="'/public/app/features/commons/footer/footer.html'")
