//
   Created by Jorge on 2/1/2015.
//
   Created by Jorge on 2/1/2015.
div#experience-section
   div.row
      div.col-xs-12
         div.resume-specific-section
            h3.header {{'EXPERIENCE_SECTION'|translate}}
            div.resume-category
               div.resume-info.opacitydiv1
                  div.row
                     div.col-xs-8
                        h4.title {{'MONKEYS_ROLE' |translate}}
                     div.col-xs-4
                        p.date {{'MONKEYS_DATE' |translate}}
                  h5.subtitle {{'MONKEYS' |translate}}
               div.separator
               div.resume-info.opacitydiv2
                  div.row
                     div.col-xs-8
                        h4.title {{'BANDPOINTER_ROLE' |translate}}
                     div.col-xs-4
                        p.date {{'BANDPOINTER_DATE' |translate}}
                  h5.subtitle {{'BANDPOINTER' |translate}}
                  p.description {{'BANDPOINTER_DESCRIPTION' |translate}}
               div.separator
               div.resume-info.opacitydiv3
                  div.row
                     div.col-xs-8
                        h4.title {{'PROS_ROLE' |translate}}
                     div.col-xs-4
                        p.date {{'PROS_DATE' |translate}}
                  h5.subtitle {{'PROS' |translate}}
                  p.description {{'PROS_DESCRIPTION' |translate}}
               div.separator
               div.resume-info.opacitydiv4
                  div.row
                     div.col-xs-8
                        h4.title {{'FE_ROLE' |translate}}
                     div.col-xs-4
                        p.date {{'FE_DATE' |translate}}
                  h5.subtitle {{'FE' |translate}}
                  p.description {{'FE_DESCRIPTION' |translate}}
               div.separator
               div.resume-info.opacitydiv5
                  div.row
                     div.col-xs-8
                        h4.title {{'GEMBIOSOFT_ROLE' |translate}}
                     div.col-xs-4
                        p.date {{'GEMBIOSOFT_DATE' |translate}}
                  h5.subtitle {{'GEMBIOSOFT' |translate}}
                  p.description {{'GEMBIOSOFT_DESCRIPTION' |translate}}
