//
   Created by Jorge on 2/7/2015.
//
   Created by Jorge on 2/1/2015.
//
   Created by Jorge on 2/1/2015.
div#skills-section
   div.row
      div.col-xs-12
         div.resume-specific-section
            h3.header {{'FRONT_END'|translate}}
            div.resume-category
               div.resume-info
                  div.row
                     div.col-xs-12
                        div.description.interest {{'BOWER' |translate}}
                        div.description.interest {{'GRUNT' |translate}}
                        div.description.interest {{'GULP' |translate}}
                        div.description.interest {{'Karma' |translate}}
                        div.description.interest {{'ANGULAR' |translate}}
                        div.description.interest {{'ANGULAR2' |translate}}
                        div.description.interest {{'Javascript' |translate}}
                        div.description.interest {{'Jquery' |translate}}
                        div.description.interest {{'Less' |translate}}
                        div.description.interest {{'SASS' |translate}}
                        div.description.interest {{'ASP_MVC' |translate}}
                        div.description.interest {{'Phantom' |translate}}
                        div.description.interest {{'JADE' |translate}}
                        div.description.interest {{'SPA' |translate}}
                        div.description.interest {{'REACT' |translate}}         
                        div.description.interest {{'WEB_COMPONENTS' |translate}}
                        div.description.interest {{'TYPESCRIPT' |translate}}                       
         div.resume-specific-section
            h3.header {{'BACK_END'|translate}}
            div.resume-category
               div.resume-info
                  div.row
                     div.col-xs-12
                        div.description.interest {{'NODEJS' |translate}}
                        div.description.interest {{'EXPRESS_JS' |translate}}
                        div.description.interest {{'WEB_API' |translate}}
                        div.description.interest {{'EF' |translate}}
                        div.description.interest {{'Ninject' |translate}}
                        div.description.interest {{'LINQ' |translate}}
                        div.description.interest {{'NUNIT' |translate}}
                        div.description.interest {{'SPRING' |translate}}
                        div.description.interest {{'JPA' |translate}}
                        div.description.interest {{'Hibernate' |translate}}
                        div.description.interest {{'JUnit' |translate}}
                        div.description.interest {{'SIGNALR' |translate}}
         div.row
            div.col-xs-6
               div.resume-specific-section
                  h3.header {{'CLOUD'|translate}}
                  div.resume-category
                     div.resume-info
                        div.row
                           div.col-xs-12
                              div.description.interest {{'AZURE' |translate}}
                              div.description.interest {{'HEROKU' |translate}}
                              div.description.interest {{'MONGOLAB' |translate}}
                              div.description.interest {{'GITHUB' |translate}}
                              div.description.interest {{'BB' |translate}}
            div.col-xs-6
               div.resume-specific-section
               h3.header {{'DB'|translate}}
               div.resume-category
                  div.resume-info
                     div.row
                        div.col-xs-12
                           div.description.interest {{'MONGODB' |translate}}
                           div.description.interest {{'MYSQL' |translate}}
                           div.description.interest {{'ORACLE' |translate}}
                           div.description.interest {{'POSTGRES' |translate}}
                           div.description.interest {{'SQLITE' |translate}}
         div.row
            div.col-xs-6
               div.resume-specific-section
                  h3.header {{'WS'|translate}}
                  div.resume-category
                     div.resume-info
                        div.row
                           div.col-xs-12
                              div.description.interest {{'REST' |translate}}
                              div.description.interest {{'SOAP' |translate}}
                              div.description.interest {{'JSON' |translate}}
                              div.description.interest {{'XML' |translate}}
            div.col-xs-6
               div.resume-specific-section
               h3.header {{'MOBILE'|translate}}
               div.resume-category
                  div.resume-info
                     div.row
                        div.col-xs-12
                           div.description.interest {{'ANDROID' |translate}}
                           div.description.interest {{'WP' |translate}}
                           div.description.interest {{'XAMARIN' |translate}}
                           div.description.interest {{'IONIC' |translate}}

         div.resume-specific-section
            h3.header {{'OTHERS'|translate}}
            div.resume-category
               div.resume-info
                  div.row
                     div.col-xs-12
                        div.description.interest {{'GIT' |translate}}
                        div.description.interest {{'SCRUM' |translate}}
                        div.description.interest {{'XP' |translate}}
                        div.description.interest {{'PATER_DESIGN' |translate}}
                        div.description.interest {{'CD' |translate}}
                        div.description.interest {{'CI' |translate}}
                        div.description.interest {{'GOOD_PRACTICES' |translate}}
