.menu-left-container {
  position: fixed;
  width: 315px;
  z-index: 1;
  top: 0px;
  height: 100%;
  overflow-y: auto;
  box-shadow: 3px 0 3px rgba(51, 51, 51, 0.4);
}
#left-content {
  background: #2b2b2b;
  height: 100%;
}
#left-content .profile-img {
  text-align: center;
  min-height: 200px;
}
#left-content .title {
  text-align: center;
  color: white;
}
#left-content .title h2 {
  font-size: 26px !important;
  padding: 0px 23px;
}
#left-content .title h3 {
  font-size: 20px !important;
  color: #D4D4D4;
  margin-top: 10px;
  margin-bottom: 20px;
}
#left-content .menu-left {
  font-size: 16px;
}
#left-content .menu-left p {
  padding-top: 12px;
  padding-bottom: 10px;
  margin: 0px;
  color: #ffffff !important;
}
#left-content .menu-left ul.main-menu {
  min-height: 400px;
  margin-bottom: 0px;
}
#left-content .menu-left ul {
  padding: 0px;
}
#left-content .menu-left li {
  display: block;
  background: #303030;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #2B2B2B;
  height: 47px;
}
#left-content .menu-left li .image-section {
  float: left;
}
#left-content .menu-left li .menu-section {
  -webkit-box-shadow: -3px 0 5px -4px #000000;
  box-shadow: -3px 0 5px -4px #000000;
  margin-left: 70px;
  padding-left: 15px;
}
#left-content .image-section {
  width: 50px;
  text-align: center;
}
#left-content .image-section img {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  margin-top: 8px;
}
#left-content .image-section div {
  max-height: 47px;
}
#left-content .image-section div .special-img-menu {
  position: relative;
  top: -38px;
}
#left-content .image-section .graduation-img {
  margin-left: 22px !important;
}
#left-content .image-section .experience-img {
  height: 28px !important;
  width: 28px !important;
}
#left-content .config-section {
  background: #2b2b2b;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
#left-content .config-section img {
  height: 30px;
  margin-left: 0px;
  margin-top: 0px;
}
#left-content .bckground-left {
  background: #2b2b2b;
  padding-top: 50px;
}
#left-content .config-lang {
  margin-left: 60px;
  margin-right: 60px;
  background: #303030;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  border-bottom-width: 2px;
}
#left-content .config-lang li {
  background-color: initial !important;
  border: none !important;
  height: 35px !important;
}
#left-content .config-lang p {
  text-align: center;
  color: #fff !important;
  padding-top: 8px;
  font-size: 14px;
}
#left-content .arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-left: 150px;
  border-bottom: 8px solid black;
}
