//
   Created by Jorge on 2/1/2015.
//
   Created by Jorge on 2/1/2015.
div#about-section
   div.row
      div.col-xs-12
         div.resume-specific-section
            h3.header {{'ABOUT_SECTION'|translate}}
            div.resume-category
               div.resume-info
                  div.row
                     div.col-xs-12
                        h4.title {{'ABOUT_ME_DESCRIPTION' |translate}}
                  h5.subtitle {{'ABOUT_ME_DESCRIPTION_2' |translate}}
                  h5.subtitle {{'ABOUT_ME_DESCRIPTION_3' |translate}}
                  h5.subtitle {{'ABOUT_ME_DESCRIPTION_4' |translate}}

         div.resume-specific-section
            h3.header {{'INTERESTS_SECTIONS'|translate}}
            div.resume-category
               div.resume-info
                  div.row
                     div.col-xs-12
                        div.description.interest {{'MUSIC' |translate}}
                        div.description.interest {{'WEB_DEV' |translate}}
                        div.description.interest {{'TRILOGIES' |translate}}
                        div.description.interest {{'Exercise' |translate}}
                        div.description.interest {{'STARTUPS' |translate}}
                        div.description.interest {{'TEA' |translate}}
                        div.description.interest {{'UX_UI' |translate}}
                        div.description.interest {{'CATS' |translate}}
                        div.description.interest {{'PRODUCTIVITY' |translate}}
