//
   Created by Jorge on 2/1/2015.
div#about-section
   h2 {{'RESUME'|translate}}
   div.row
      div.col-xs-12
         div.resume-specific-section
            h3.header {{'EDUCATION_SECTION'|translate}}
            div.resume-category
               div.resume-info
                  div.row
                     div.col-xs-9
                        h4.title {{'MASTER' |translate}}
                     div.col-xs-3
                        p.date 2011 - 2013
                  h5.subtitle {{'UNIVERSITY' |translate}}
                  p.description {{'MASTER_PROJECT' |translate}}
               div.separator
               div.resume-info
                  div.row
                     div.col-xs-9
                        h4.title {{'CAREER' |translate}}
                     div.col-xs-3
                        p.date 2007 - 2011
                  h5.subtitle {{'UNIVERSITY' |translate}}
         div.resume-specific-section
            h3.header {{'CERTIFICATES'|translate}}
            div.resume-category
               div.resume-info
                  div.row
                     div.col-xs-9
                        h4.title {{'MONGO_CERTIFICATION' |translate}}
                     div.col-xs-3
                        p.date 2014
                  h5.subtitle {{'MONGO_CERTIFICATION_INSTITUTION' |translate}}
               div.separator
               div.resume-info
                  div.row
                     div.col-xs-9
                        h4.title {{'WP_CERTIFICATION_1' |translate}}
                     div.col-xs-3
                        p.date 2012
                  h5.subtitle {{'WP_CERTIFICATION_1_INSTITUTION' |translate}}
               div.separator
               div.resume-info
                  div.row
                     div.col-xs-9
                        h4.title {{'WP_CERTIFICATION_2' |translate}}
                     div.col-xs-3
                        p.date 2012
                  h5.subtitle {{'WP_CERTIFICATION_2_INSTITUTION' |translate}}
               div.separator
               div.resume-info
                  div.row
                     div.col-xs-9
                        h4.title {{'HTML_CERTIFICATION' |translate}}
                     div.col-xs-3
                        p.date 2012
                  h5.subtitle {{'HTML_CERTIFICATION_INSTITUTION' |translate}}
         div.resume-specific-section
            h3.header {{'COMPLEMENTARY_EDUCATION'|translate}}
            div.resume-category
               div.resume-info
                  div.row
                     div.col-xs-9
                        h4.title {{'COMPLEMENTARY_EDUCATION_1' |translate}}
                     div.col-xs-3
                        p.date 2011 - 2012
                  p.description {{'COMPLEMENTARY_EDUCATION_1_DESCRIPTION_1' |translate}} <br/> {{'COMPLEMENTARY_EDUCATION_1_DESCRIPTION_2' |translate}} <br/> {{'COMPLEMENTARY_EDUCATION_1_DESCRIPTION_3' |translate}}

               div.separator
               div.resume-info
                  div.row
                     div.col-xs-9
                        h4.title {{'COMPLEMENTARY_EDUCATION_2' |translate}}
                     div.col-xs-3
                        p.date 2007 - 2012
                  p.description {{'COMPLEMENTARY_EDUCATION_2_DESCRIPTION_1' |translate}} <br/> {{'COMPLEMENTARY_EDUCATION_2_DESCRIPTION_2' |translate}} <br/> {{'COMPLEMENTARY_EDUCATION_2_DESCRIPTION_3' |translate}}<br/> {{'COMPLEMENTARY_EDUCATION_2_DESCRIPTION_4' |translate}}


