//
   Created by Jorge on 2/1/2015.
//
   Created by Jorge on 2/1/2015.
//
   Created by Jorge on 2/1/2015.
div#contact-section
   h2 {{'CONTACT_INFO_SECTION'|translate}}
   div.row
      div.col-xs-12
         div.resume-specific-section
            h3.header {{'CONTACT_INFO_SECTION'|translate}}
            div.resume-category
               div.resume-info.contact-info
                  div.row
                     div.col-xs-1
                        img(data-ng-src="/public/content/images/place.svg")
                     div.col-xs-11
                        h5.subtitle {{'CONTACT_ADDRESS' |translate}}
                  div.row
                     div.col-xs-1
                        img(data-ng-src="/public/content/images/phone.svg")
                     div.col-xs-11
                        h5.subtitle {{'CONTACT_PHONE' |translate}}
                  div.row
                     div.col-xs-1
                        img(data-ng-src="/public/content/images/contact.svg")
                     div.col-xs-11
                        h5.subtitle {{'CONTACT_EMAIL' |translate}}
                  div.row
                     div.col-xs-1
                        img(data-ng-src="/public/content/images/skype.svg")
                     div.col-xs-11
                        h5.subtitle {{'CONTACT_SKYPE' |translate}}
         div.resume-specific-section
            h3.header {{'FOLLOW_SECTION'|translate}}
            div.resume-category
               div.resume-info.follow-section
                  div.row
                     div.col-xs-4
                        a(data-ng-href="https://github.com/jorguema", target="_blank")
                           img(data-ng-src="/public/content/images/github.svg")
                     div.col-xs-4
                        a(data-ng-href="https://es.linkedin.com/pub/jorge-guerola-martinez/44/999/6ab", target="_blank")
                           img(data-ng-src="/public/content/images/linkedin.svg")
                     div.col-xs-4
                        a(data-ng-href="http://stackoverflow.com/users/2806406/jorge-guerola", target="_blank")
                           img(data-ng-src="/public/content/images/stackoverflow.svg")