//
   Created by Jorge on 1/30/2015.
doctype html5
html(data-ng-app="app")
   head
      title= 'Jorge Guerola Martínez'
      link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/public/content/header/header.css')
   body(data-ng-cloak="")
      block main-content
      include scripts
