//
   Created by Jorge on 1/30/2015.
doctype html5
html(data-ng-app="app")
   head
      html(lang="en")
      title= 'Jorge Guerola Martínez'
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic')
      link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
      link(rel='stylesheet', href='/public/content/less/main.css')
   body(data-ng-cloak="")
      block main-content
      include scripts
