//
   Created by Jorge on 1/30/2015.
script(type="text/javascript", src="/bower_components/jquery/dist/jquery.js")
script(type="text/javascript", src="/bower_components/angular/angular.js")
script(type="text/javascript", src="/bower_components/ui-router/release/angular-ui-router.js")
script(type="text/javascript", src="/public/app/app.js")
script(type="text/javascript", src="/public/app/config.js")
script(type="text/javascript", src="/public/app/config.route.js")
script(type="text/javascript", src="/public/app/features/test/testCtrl.js")