@import "header/header.less";
@import "left/left.less";
@import "right/right.less";
@import "features/about/about.less";
@import "features/common/content.less";

body {
  background-color: #E5E5E5;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.container{
  /* Margin/padding copied from Bootstrap */
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;

  /* Set width to your desired site width */
  width: 970px !important;
}

.clickable{
  cursor:pointer;
}

a:hover
{
  text-decoration:none;
}